Repository 247190bpctli/xpc-mw5-2023-negotiators, changes with the labels that .github/labeler.yml gives for each.
All labels: dal, api, wiki, actions

New DB model - cart, placed orders and light modifications
  eshopBackend.DAL/CreateRecordTest.cs
  eshopBackend.DAL/Entities/EntityCart.cs
  eshopBackend.DAL/Entities/EntityCategory.cs
  eshopBackend.DAL/Entities/EntityPlacedOrder.cs
  eshopBackend.DAL/Entities/EntityProduct.cs
  eshopBackend.DAL/Entities/EntityReview.cs
  eshopBackend.DAL/Migrations/20230409220306_init.Designer.cs
  eshopBackend.DAL/Migrations/20230409220306_init.cs
  eshopBackend.DAL/Migrations/DbConnectorFactoryModelSnapshot.cs
Labels: dal

New services
  eshopBackend.DAL/Services/Cart.cs
  eshopBackend.DAL/Services/Categories.cs
  eshopBackend.DAL/Services/Manufacturers.cs
  eshopBackend.DAL/Services/Products.cs
Labels: dal

New DB model in DbConnectorFactory, DAL service update, Program update
  eshopBackend.App/Program.cs
  eshopBackend.DAL/DataAccessLayer.cs
  eshopBackend.DAL/Factories/DbConnectorFactory.cs
Labels: dal

Compile on release
  .github/workflows/release.yml
Labels: actions

Release how to run
  README.md
Labels: wiki

.github/labeler.yml:

dal:
- eshopBackend.DAL/**/*

api:
- eshopBackend.API/**/*

wiki:
- README.md
- wiki/**/*

actions:
- .github/**/*
